<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="{% static 'index.css'%}">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
</head>

<body topmargin="0" bottommargin="0" leftmargin="0" rightmargin="0" style="background-color:#F6F6F6">
    <div class="menu" >
      <nav class="clearfix">
        <ul class="clearfix">
          <li><a href="{% url 'index' %}">홈</a></li>
            <li><a href="{% url 'inquiry' %}">데이터베이스 조회</a></li>
      </ul>
      <a id="pull" href="#"></a>
    </nav>
    </div>
  </body>

<body>


<br>
<br>
<h2>URL Shortener</h2>
<form action="{% url 'urlResult'%}" method="POST">
    {% csrf_token %}
    <input name="originURL" type="text" class="originURL"/>
    <input type="submit" value="변환" class="convertBtn"/>
</form>

</body>

</html>