<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="{% static 'index.css'%}">
<head>
    <meta charset="UTF-8">
    <title>Database Assignment2</title>
</head>

<body topmargin="0" bottommargin="0" leftmargin="0" rightmargin="0" style="background-color:#F6F6F6">
    <div class="menu" >
      <nav class="clearfix">
        <ul class="clearfix">
          <li><a href="{% url 'index' %}">홈</a></li>
            <li><a href="{% url 'inquiry' %}">데이터베이스 조회</a></li>
      </ul>
      <a id="pull" href="#"></a>
    </nav>
    </div>
  </body>

<body>
<br>
<br>
<table>
    <thead>
        <tr>
            <th>Origin URL</th>
            <th>Short URL</th>
            <th class="hash">Origin Hash</th>
        </tr>
    </thead>
    {% for i in inqOutput %}
    <tr>
        <td>{{i.originURL}}</td>
        <td>{{i.shortURL}}</td>
        <td class="hash">{{i.originHash}}</td>
    </tr>
    {% endfor %}
</table>
</body>

</html>
