<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
</head>

{% load static %}
<link rel="stylesheet" href="{% static 'index.css'%}">

<body topmargin="0" bottommargin="0" leftmargin="0" rightmargin="0" style="background-color:#F6F6F6">
    <div class="menu" >
      <nav class="clearfix">
        <ul class="clearfix">
          <li><a href="{% url 'index' %}">홈</a></li>
            <li><a href="{% url 'inquiry' %}">데이터베이스 조회</a></li>
      </ul>
      <a id="pull" href="#"></a>
    </nav>
    </div>
  </body>

<body>

<br>
<br>
<h2>URL Shortener</h2>
<form action="{% url 'urlResult'%}" method="POST">
    {% csrf_token %}
    <input name="originURL" type="text" class="originURL"/>
    <input type="submit" value="변환" class="convertBtn"/>
</form>

<br>
<br>
{% if urlConvert == True and shortURL%}

    <form action="{% url 'index'%}" method="POST">
        {% csrf_token %}
        <div style="display:inline;" class="res">Result : </div>
        <input type="text" name="shortURL" value="{{shortURL}}" class="shortURL" readonly/>
        <button type="submit" name="copyBtn" value="copyBtn" class="copyBtn">copy</button>
    </form>

{% else %}

{% endif %}

</body>
</html>